{% extends 'wm34/base.html' %}
{% load staticfiles %}
{% load wm34_filters %}
<!--
     Template to create a new game.
-->

{% block title_block %}
    {{ request.user }}'s {{ event.name }} Scorecard 
{% endblock %}

{% block body_block %}
    {% comment %} <form method="post" action="{% url 'event_scorecard' event.event_slug %}">
        {% csrf_token %} {% endcomment %}
        <div class="col-10 offset-1 my-2">
            <h2 class="mb-2">Card</h2>
            <hr/>
        <ul class="list-group">
            {% for match in matches %}
                {% if match.name %}
                <li class="list-group-item">
                    <a href="{% url 'match_scorecard' event.event_slug match.id %}">{{ match.name }}</a><br />
                </li>
                {% elif match.team.all %}
                 <li class="list-group-item">
                    <a href="{% url 'match_scorecard' event.event_slug match.id %}">{{ match|join_teams }}</a>
                 </li>
                {% else %}
                <li class="list-group-item">
                    <a href="{% url 'match_scorecard' event.event_slug match.id %}">{{ match|join_wrestlers }}</a>
                </li>
                {% endif %} <br />
    
                {% comment %} {% for field in scorecard %}
                    {{ field.label }} {{ field }}
                {% endfor %} <br /><br /> {% endcomment %}
    
            {% endfor %}            
        </ul>
        {% comment %}
            <input class="btn btn-lg btn-primary btn-block" id="create-game" type="submit" name="submit" value="Create Game" />
    </form>
    {% endcomment %}
    </div>
{% endblock %}