{% extends 'wm34/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Wrestlemania 34: Results Predictor
{% endblock %}

{% block body_block %}
    <div class="col-8 offset-2">
        <h1 class="text-center mt-3">Events</h1>
        <hr/>
        <ul>
            {% for event in events %}
                <li class="wm34-list">
                    <a href="{% url 'show_event' event.event_slug %}">{{ event.name }}</a>
                </li>
            {% endfor %}
        </ul>  
    </div>
{% endblock %}