{% extends 'wm34/base.html' %}
{% load staticfiles %}
{% load wm34_filters %}

{% block title_block %}
    {{ request.user }}'s {{ event.name }} Scorecard 
{% endblock %}

{% block body_block %}
<div class="col-10 offset-1 my-2">
    <form method="post" action="{% url 'match_scorecard' event.event_slug match.id %}">
        {% csrf_token %}
        {% if match.name %}
            {{ match.name }}<br />
        {% endif %}
        {% if match.team.all %}
            {{ match|join_teams }}
        {% else %}
            {{ match|join_wrestlers }}
        {% endif %} <br /><br />
        
        {% for field in scorecard %}
            {{ field.label }} {{ field }} <br /><br />
        {% endfor %} <br /><br />

        <input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Submit Match Results" />
    </form>
</div>
{% endblock %}