{% extends 'wm34/base.html' %}
{% load staticfiles %}
{% load wm34_filters %}

{% block title_block %}
    {{ event.name }} Event Details
{% endblock %}
 
{% block body_block %}
    <div class="col-10 offset-1">
        <div>
            <h1 class="text-center mt-3">{{ event.name }}.</h1>
            <hr/>
            {% if user.is_authenticated %}
                <a href="{% url 'event_scorecard' event.event_slug %}">Scorecard</a><br /><br />
            {% else %}
                <p><a href="{% url 'login' %}">Login</a> to access the scorecard.</p>
            {% endif %}
        </div>
        <div>
            <h2>Matches</h2>
            <ul>
                {% for match in matches %}
                <li class="wm34-list">
                    {% if match.name %}
                        {{ match.name }} <br />
                    {% endif %}
                    {% if match.team.all %}
                        {{ match|join_teams }}
                    {% else %}
                        {{ match|join_wrestlers }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

