{% extends 'wm34/base.html' %}
{% load staticfiles %}
{% load wm34_filters %}
<!--
     Template for registration of new users.
-->

<!-- -->

{% block title_block %}
    Sign Up
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col">
    </div>
    <div class="col-5">
    {% if user.is_authenticated %}
        <p>You are already registered. Click below to return to the homepage.</p>
        <a href="{% url 'index' %}">Home</a>
    {% else %}
        {% if registered %}
            <strong>Thank you for registering!</strong><br />
            <a href="{% url 'index' %}">Return to the homepage</a> or
            <a href="{% url 'login' %}"> login to your account</a>.
        {% else %}
            <strong>Register and join your first game today!</strong><br /><br />
            <form class="jquery_validation_form" id="user_form" method="post" action="{% url 'sign_up' %}"
                  enctype="multipart/form-data">

            {% csrf_token %}
            {% for field in user_form %}
            <div class="form-group row">
                <label for="{{ field.label }}" class="col-5 col-form-label">{{ field.label }}</label>
                <div class="col-7">
                    {{ field|addCss:"form-control" }}
                </div>
                <label class="error">{{ field.errors }}</label>
            </div>
            {% endfor %}
            {% for field in player_form %}
            <div class="form-group row">
                <label for="{{ field.label }}" class="col-5 col-form-label">{{ field.label }}</label>
                <div class="col-7">
                    {{ field|addCss:"form-control" }}
                </div>
                <label class="error">{{ field.errors }}</label>
            </div>
            {% endfor %}

            <input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
    {% endif %}
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}
